










/* **Do not touch the code below** */

body {
    text-align: center;
    justify-content: space-between;
    background-color: #ffe5c4;
    font-family: 'Marck Script', cursive;
}

img {
    height: 200px;
    width: 200px;
    position: center;
    display: none;
}

input {
    margin: 15px;
    padding: 5px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
    justify-content: center;
}